<template>
  <div id="app">
  <div class="columns">
    <div class="column" v-for="column in allColumns" :key="column.id" >
      <h2 class="ml-2">{{column.title}}</h2>
      <div class="carts" v-dragula="column.id" drake="first">
        <div class="cart" v-for="cart in sortedCarts(column.id)" :key="cart.id">
        <div class="filled" v-if="cart.filled">
          <h4>{{cart.title}}<a class="edit" @click="cartToEdit(cart.id)">Edit</a></h4>
          <p>{{cart.body}}</p>
        </div>
        <div class="v-else" v-else>
          <h4>
            <input type="text" v-model="cart.title" @blur="cartFilled(cart.id)" @focus="cartToEdit(cart.id)">
          </h4>
          <p>
            <textarea name="" id="" cols="30" rows="10" v-model="cart.body" @blur="cartFilled(cart.id)" @focus="cartToEdit(cart.id)"></textarea>
          </p>
        </div>
          <p class="">
          <button @click="deleteCart(cart.id)" class="btn btn-danger">delete</button></p>
        </div>
        <button class="ml-3 btn btn-primary" @click="addCart(column.id)">Add cart</button>
      </div>
      <p class="ml-3 mt-3">
        <button @click="deleteColumn(column.id)" class="btn btn-warning remove-ml-3col-btn">Remove column</button>
      </p>
    </div>
    <p class="mt-3">
      <button @click="addColumn" class="btn btn-secondary add-col-btn">Add column</button>
    </p>

  </div>
    
  </div>
</template>

<script>

import Vue from 'vue'
import {mapGetters} from 'vuex';

export default {
  name: 'App',
  data(){
    return {
      cartCounter: 6,
      columnCounter: 4
    }
  }, 
  computed: mapGetters(['allColumns', 'allCarts', 'sortedCarts']),
  async mounted(){
    this.$store.dispatch('fetchColumns')
    this.$store.dispatch('fetchCarts')
  },
  methods: {
    deleteCart: function(id){
      this.$store.dispatch('removeCart', id)
    },
    addCart: function(column){
      this.$store.dispatch('addCart', {id: this.cartCounter++, col: column})
    },
    addColumn: function(){
      this.$store.dispatch('addColumn', this.columnCounter++);
    },
    deleteColumn: function(id){
      this.sortedCarts(id).forEach(el => {
        this.$store.dispatch('removeCart', el.id);
      });
      this.$store.dispatch('removeColumn', id);
    },
    cartToEdit: function(id){
      this.$store.dispatch('cartToEdit', id)
      console.log('method', id)
    },
    cartFilled: function(id){
      this.$store.dispatch('cartFilled', id)
    }

  },
  created (){
    const service = Vue.$dragula;
    // service.$eventBus('drop', (args) => {
    //   console.log('drop');
    // })
    console.log(service)
  }
}
</script>

<style lang="scss">
  .columns{
    padding: 0 25px;
    display: flex;
    overflow-x: auto;
    .column{
      width: 25vw;
      min-width: 25vw;
      max-height: 95vh;
      overflow-y: auto;
      padding: 10px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(256,0,0,0.5)
    }
    .carts{
      min-height: 70%;
    }
    .cart{
      padding: 10px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      .edit{
        color: green;
        text-decoration: underline;
        font-size: 0.5em;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
  .add-col-btn{
    height: fit-content;
  }
  .v-else input, .v-else textarea{
    width: 100%;
  }
</style>
